numpy==1.25.0 ; python_version >= "3.11" and python_version < "4.0"
pydantic==1.10.9 ; python_version >= "3.11" and python_version < "4.0"
pynpm==0.1.2 ; python_version >= "3.11" and python_version < "4.0"
typing-extensions==4.6.3 ; python_version >= "3.11" and python_version < "4.0"
