name: Publish

on:
  release:
    types: [published]

jobs:
  deploy:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.11'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install poetry
        poetry config pypi-token.pypi ${{ secrets.PYPI_API_TOKEN }}
    - name: Build and publish
      run: |
        poetry version $(git describe --tags --abbrev=0 | grep -Eoe '[0-9]+.[0-9]+\.[0-9]+')
        poetry build
        poetry publish
